<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="S2T5" connectionString="Data Source=mis220.eil-server.cba.ua.edu; Initial Catalog=S2T5; user id=bigal; password=RollTide!"/>
    
  </connectionStrings>
</configuration>